body {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.header {
    text-align: center;
    margin-bottom: 48px;
}

.app-container {
    max-width: 360px;
    margin: 100px auto;
    background-color: #f8e9a6;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    padding: 24px 24px 48px 24px;
    border-radius: 10px;
    color: #fff;
    background-image: url(images/background.jpeg);
    background-position:top;
    background-size: cover;
    }

.zip-container {
    display: flex;
    margin: 16px 0;
}

.feel-container {
    display: flex;
    align-items: center;
}

.zip-label, 
.feelings-label {
    flex:1;
    padding-right: 16px;
}

input[type=text] {
    padding: 4px;
    border-radius: 4px;
    height: 30px;
    position: relative;
    left: 0;
    width:200px;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 12px;
  }

.textarea {
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 12px;
    padding: 4px;
    border-radius: 4px;
    width:200px;
}

.button {
    display: block;
    width: 100%;
    padding: 8px 16px;
    margin: 32px 0; 
    border: 0.16em solid rgba(255,255,255,0);
    border-radius: 8px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    background-color: #239ad1;
    color: #fff;
    text-align: center;
    font-size: inherit;
}

.recent-entry {
    text-align: center;
    margin: 60px 0 0;
    padding-top:60px;
    border-top: 1px solid #ddd;
    display: none;
}

.show {
    display: block;
}

.recent-entry-title {
    font-weight: 600;
    margin-bottom: 16px;
}